<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ms-4 d-inline-block align-middle" href="/">Lazaga</a>

        <div class="collapse navbar-collapse mr-auto">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-success <%= page === 'home' ? 'fw-bold' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success <%= page === 'cart' ? 'fw-bold' : '' %>" href="/carts">Cart</a>
            </li>
            </ul>
        </div>
    </div>
</nav>